@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Tungsten-Bold, arial, georgia, sans-serif;
}

@font-face {
  font-family: "Tungsten-Bold";
  src: url("/public//util/Tungsten-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINNextW1G";
  src: url("/public//util/DINNextW1G-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.animate-up {
  -webkit-animation: up-down 1s ease-in-out infinite;
  animation: up-down 1s ease-in-out infinite;
}

.animate-down {
  -webkit-animation: down-up 1s ease-in-out infinite;
  animation: down-up 1s ease-in-out infinite;
}

@-webkit-keyframes up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes down-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes down-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
